<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Campus Proposals</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> Register to Vote </a>
        <a mat-button [routerLink]="'/create-account'"> Create a Proposal </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
<router-outlet></router-outlet>