<div class="container testimonial-group">
  <div class="row text-center">
    <mat-card *ngFor="let proposal of ActiveProposals" class="prop-card ml-3 mt-3">
      <mat-card-header>
        <mat-card-title>{{proposal.name| titlecase}}</mat-card-title>
        <mat-card-subtitle>Active</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{proposal.image_url}}" alt="Photo of a Thing">
      <mat-card-content>
        <p>
          {{proposal.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="castBallot(proposal)">I Like it</button>
        <!-- <button mat-button> Not For Me </button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>