<div class="container testimonial-group">
    <div class="row text-center">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


      <mat-card *ngFor="let proposal of ActiveProposals" class="dog-card ml-3">
        <mat-card-header>
          <div mat-card-avatar class="dog-header-image"></div>
          <mat-card-title>{{proposal.name| titlecase}}</mat-card-title>
          <mat-card-subtitle>Active</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{proposal.image_url}}" alt="Photo of a Dog">
        <mat-card-content>
          <p>
            {{proposal.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>I Like it</button>
          <button mat-button>Not For Me</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  