/* You can add global styles to this file, and also import other style files */

body {
  background: url('/assets/slideshow-quad.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prop-header-image {
  background-size: cover;
}

mat-card img {
  object-fit: cover;
  /*this makes the image in src fit to the size specified below*/
  width: 100%;
  /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 200px;
}

.mat-card-header {
  background-color: lightgray !important;
  justify-content: center;
  border-radius: 25px 25px 0px 0px;
}

mat-card {
  min-width: 300px;
  min-height: 300px;
  border-radius: 25px;
  justify-content: center
}