<div class="container">
    <mat-card class="mt-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-card-header>
                <mat-card-title>Voter Registration Form</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="form-group">
                    <label for="voterId">
                        Voter ID
                    </label>
                    <input id="voterId" type="text" formControlName="voterId">
                </div>
                <div class="form-group">
                    <label for="registrarId">
                        Registrar ID
                    </label>
                    <input id="registrarId" type="text" formControlName="registrarId">
                </div>
                <div class="form-group">
                    <label for="firstName">
                        First Name
                    </label>
                    <input id="firstName" type="text" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">
                        Last Name
                    </label>
                    <input id="lastName" type="text" formControlName="lastName">
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Register</button>
            </mat-card-actions>
        </form>
    </mat-card>
    <mat-card class="mt-3">
        <mat-card-header>
            <mat-card-title>Response Message</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            {{response}}
        </mat-card-content>
    </mat-card>
</div>